* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body {
    width: 100%;
    background-color: #181f2a;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: hsl(216, 53%, 9%);
}

.logo {
    padding-left: 1rem;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}


#menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    background: #000000;
    color: white;
    transition: 1s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    width: 290px;
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
}

#menu li{
    padding: 1rem;
    font-weight: 100;
    font-size: 1.5em;
}

#menu li a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

#menu li a:hover {
    border-bottom: 2px solid white;
}

#btn-mobile {
    display: flex;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}

#hamburger {
    z-index: 1100;
    border-top: 2px solid white;
    width: 25px;
}

#hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: 0.6s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(140deg);
}

#nav.active #hamburger::after {
    transform: rotate(-140deg);
    top: -7px;
}


.conteudo-superior {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
}

.conteudo-superior h1 {
    text-align: center;
    width: 50%;
    padding: 2rem;
}

.conteudo-superior p {
    width: 40%;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    padding: 20px;
}

.conteudo-superior button {
    width: 250px;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(360deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
    font-size: 1em;
    cursor: pointer;
}

.conteudo-superior button:hover {
    background: linear-gradient(90deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
}

.area-cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 330px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    width: 60px;

}

.conteudo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 8rem;
}

.conteudo-texto h2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.conteudo-texto p {
    text-align: center;
    width: 75%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.815);
}

.conteudo-juntos {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-creative {
    margin: 1rem;
}

.conteudo {
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.conteudo h1 {
    font-size: 3em;
    font-weight: 200;
    padding: 1rem 0px;
}

.conteudo p {
    width: 90%;
    font-size: 1em;
    padding: 1rem 0px;
    color: rgba(255, 255, 255, 0.815);
}

.conteudo h3 a {
    font-size: 1em;
    font-weight: 100;
    color: #65e2d9;
    text-decoration: underline;
}

.card-compartilhados {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 4rem;
}

.cards-down {
    width: 80%;
    height: 230px;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: hsl(219, 30%, 18%);
}

.cards-down p {
    font-size: 1rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.815);
}

.inferior {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.text {
    margin-left: 1rem;
}

.text h4 {
    font-size: 1.2rem;
    font-weight: 400;

}

.text span {
    font-size: 0.8rem;
}

.cards-down img {
    width: 60px;
    border-radius: 100%;
}

.card-get {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: hsla(217, 26%, 20%, 0.788);
    width: 60%;
    padding: 1rem;
}

.card-get h1 {
    font-weight: 200;
    font-size: 2rem;
    padding: 1rem;
}

.card-get p {
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
}

.botao-email {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button {
    font-size: 0.7rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    color: white;
}

#email {
    border-radius: 1rem;
    padding: 1rem;
    color: rgb(172, 172, 172);
    background-color: white;
    width: 250px;
}

#get {
    background: linear-gradient(-360deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
    width: 150px;
}


footer {
    width: 100%;
    height: auto;
    background-color: hsl(216, 53%, 9%);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

.logo-inferior {
    padding: 1rem;
}

.horizontal {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.infos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.infos span{
    margin: 1rem 0;
}

.colunas {
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin: 2rem 0;
}

.colunas ul{
    padding: 1rem;
}

.colunas ul li{
    padding: 0.5rem;
}

.colunas ul li a{
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 200;

}

.colunas ul li a:hover{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
}




@media (max-width: 700px) {

    body {
        width: 100%;
        height: 100vh;
    }

    .conteudo-superior {
        width: 100%;
    }

    .conteudo-superior h1 {
        text-align: center;
        width: 90%;
        padding: 1rem;
    }

    .conteudo-superior p {
        width: 80%;
    }

    .area-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.8rem;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 300px;
        box-sizing: border-box;
        padding: 1rem;
    }

    .card h2 {
        text-align: center;
        padding: 1rem;
        font-weight: 300;
    }

    .card p {
        text-align: center;
        color: rgba(255, 255, 255, 0.815);
    }

    .conteudo-juntos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .conteudo {
        width: 90%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .conteudo h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 200;
        padding: 1rem 0;
    }

    .conteudo p {
        width: 90%;
        font-size: 1em;
        padding: 1rem 0;
        color: rgba(255, 255, 255, 0.815);
    }

    .conteudo h3 a {
        font-size: 1em;
        font-weight: 100;
        color: #65e2d9;
        text-decoration: underline;
    }

    .card-compartilhados {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards-down {
        width: 90%;
    }

    .card-get {
        width: 90%;
        box-sizing: border-box;
        text-align: center;
    }

    .botao-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        width: 100%;
        height: auto;
    }

    .horizontal {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .infos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .colunas {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        margin: 2rem 0;
    }
    
    .colunas ul{
        padding: 1rem;
    }
    
    .colunas ul li{
        padding: 0.5rem;
    }
    
    .colunas ul li a{
        padding: 0.5rem;
        color: white;
        text-decoration: none;
        font-weight: 200;
    
    }
    
    .colunas ul li a:hover{
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: white;
        color: black;
    }

}