* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body {
    width: 100%;
    background-color: #181f2a;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: hsl(216, 53%, 9%);
}

.logo {
    padding-left: 1rem;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}


#menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 0px;
    top: 100px;
    right: 1.5rem;
    border-radius: 1rem;
    background: #000000ee;
    color: white;
    transition: 1s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    height: calc(50vh);
    visibility: visible;
    overflow-y: auto;
}

#menu a {
    font-size: 1.5em;
    padding: 1rem;
    color: white;
}

#menu li a:hover {
    border-bottom: 2px solid white;
}

#btn-mobile {
    display: flex;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}

#hamburger {
    border-top: 2px solid white;
    width: 25px;
}

#hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: 0.6s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(140deg);
}

#nav.active #hamburger::after {
    transform: rotate(-140deg);
    top: -7px;
}


.conteudo-superior {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
}

.conteudo-superior h1 {
    text-align: center;
    width: 50%;
    padding: 2rem;
}

.conteudo-superior p {
    width: 40%;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    padding: 20px;
}

.conteudo-superior button {
    width: 250px;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(360deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
    font-size: 1em;
    cursor: pointer;
}

.conteudo-superior button:hover {
    background: linear-gradient(90deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
}

.area-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 330px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    width: 60px;

}

.conteudo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 8rem;
}

.conteudo-texto h2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.conteudo-texto p {
    text-align: center;
    width: 90%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.815);
}

.conteudo-juntos {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-creative {
    margin: 1rem;
}

.conteudo {
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.conteudo h1 {
    font-size: 3em;
    font-weight: 200;
    padding: 1rem 0px;
}

.conteudo p {
    width: 90%;
    font-size: 1em;
    padding: 1rem 0px;
    color: rgba(255, 255, 255, 0.815);
}

.conteudo h3 a {
    font-size: 1em;
    font-weight: 100;
    color: #65e2d9;
    text-decoration: underline;
}

.card-compartilhados {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 4rem;
}

.cards-down {
    width: 50%;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: hsl(219, 30%, 18%);
}

.cards-down p {
    font-size: 1rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.815);
}

.inferior {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.text {
    margin-left: 1rem;
}

.text h4 {
    font-size: 1.2rem;
    font-weight: 400;

}

.text span {
    font-size: 0.8rem;
}

.cards-down img {
    width: 60px;
    border-radius: 100%;
}

.card-get {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: hsla(217, 26%, 20%, 0.788);
    width: 40%;
    padding: 1rem;
}

.card-get h1 {
    font-weight: 200;
    font-size: 2rem;
    padding: 1rem;
}

.card-get p {
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
}

.botao-email {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button {
    font-size: 0.7rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    color: white;
}

#email {
    border-radius: 1rem;
    padding: 1rem;
    color: rgb(172, 172, 172);
    background-color: white;
    width: 250px;
}

#get {
    background: linear-gradient(-360deg, hsla(176, 68%, 64%, 1) 6%, hsla(176, 68%, 64%, 1) 20%, hsla(198, 60%, 50%, 1) 100%);
    width: 150px;
}


footer {
    width: 100%;
    height: 40vh;
    background-color: hsl(216, 53%, 9%);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

.logo-inferior {
    padding: 1rem;
}

.horizontal {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.localizacao p {
    width: 20rem;
    padding: 15px;
}

.comunicacao {
    padding: 1rem;
    color: white;
}

.tel {
    padding: 1rem;
}

.tel span {
    padding-left: 1rem;
}

.email span {
    padding-left: 1rem;
}

.lista {
    padding: 1rem;
}

.lista ul li {
    display: block;
    padding: 0.5rem;
    list-style: none;
}

.lista ul li a {
    color: white;
}

.lista ul li a:hover {
    border-bottom: 2px solid white;
    color: white;

}




@media (max-width: 700px) {

    body {
        width: 100%;
        height: 100vh;
    }

    /* MENU */
    #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }

    #menu a {
        display: block;
        padding: 0.5rem;
    }


    #menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        background: #000000e1;
        color: white;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(40vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        font-size: 1.2em;
        padding: 1rem 0;
        margin: 0 1rem;
    }

    #menu li a:hover {
        border-bottom: 2px solid white;
    }

    #btn-mobile {
        display: flex;
        padding: 0.8rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid white;
        width: 25px;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: 0.6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(140deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-140deg);
        top: -7px;
    }

    /* FIM DO MENU */
    .conteudo-superior {
        width: 100%;
    }

    .conteudo-superior h1 {
        text-align: center;
        width: 90%;
        padding: 1rem;
    }

    .conteudo-superior p {
        width: 80%;
    }

    .area-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.8rem;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 300px;
        box-sizing: border-box;
        padding: 1rem;
    }

    .card h2 {
        text-align: center;
        padding: 1rem;
        font-weight: 300;
    }

    .card p {
        text-align: center;
        color: rgba(255, 255, 255, 0.815);
    }

    .conteudo-juntos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .conteudo{
        width: 90%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .conteudo h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 200;
        padding: 1rem 0;
    }

    .conteudo p {
        width: 90%;
        font-size: 1em;
        padding: 1rem 0;
        color: rgba(255, 255, 255, 0.815);
    }

    .conteudo h3 a {
        font-size: 1em;
        font-weight: 100;
        color: #65e2d9;
        text-decoration: underline;
    }

    .card-compartilhados{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards-down{
        width: 90%;
    }

    .card-get {
        width: 90%;
        box-sizing: border-box;
        text-align: center;
    }

    .botao-email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        width: 100%;
        height: auto;
    }

    .horizontal {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}